[default]
Type          = mysqld
LogLevel      = 2
LogFile       = /var/log/zabbix/fpmmm.log
CacheFileBase = /tmp/fpmmm/fpmmmCache
AgentLockFile = /tmp/fpmmm/fpmmm.lock
ZabbixServer  = {{ agent_server }}
Disabled      = false
Modules       = innodb master myisam mysql process security

# Here you could enter the hostname of your machine (uname -n)
[{{ agent_hostname }}]          # This MUST match Hostname in Zabbix!
Type          = mysqld
Username      = {{ zabbix_fpmmm_user }}
Password      = {{ zabbix_fpmmm_password }}
MysqlHost     = {{ zabbix_fpmmm_mysqlhost }}
MysqlPort     = {{ zabbix_fpmmm_mysqlport }}
Modules       = {{ zabbix_fpmmm_modules }}
